.reactVideoWrapper{

    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 auto;
    line-height: 100%;
    background: black;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    outline: none;

    .overlayContainer{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        text-align: left;
        transition: opacity 0.5s;
        opacity: 0;
    }


    video{
        max-width: 100%;
        max-height: 100%;
        //width: 100%;
        //height: 100%;
        z-index: 1;

        &::-webkit-media-controls{
            z-index: 2;
        }
    }

    .controlsWrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        background-color: #000;
        transition: opacity 0.5s;
        opacity: 0;
        z-index: 2147483647;

        .seekBar{

            .buffer{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                width: 100%;
                height: 8px;
                z-index: 1;
                margin: 0;
                background-color: #666;
            }

            .progress{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                width: 100%;
                height: 8px;
                z-index: 2;
                margin: 0;
                background-color: transparent;
                background-image: rgba( 0, 0, 0, 0.4 );
                box-shadow: inset 0px 0px 6px #000;
            }
        }

        .playButton{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 5px;
            bottom: 5px;
            cursor: pointer;
        }

        .pauseButton{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 5px;
            bottom: 5px;
            cursor: pointer;
            display: none;
        }

        .muteButton{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 34px;
            bottom: 5px;
            cursor: pointer;
        }

        .unmuteButton{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 34px;
            bottom: 5px;
            cursor: pointer;
            display: none;
        }

        .volumeBar{
            position: absolute;
            width: 100px;
            height: 5px;
            bottom: 14px;
            left: 65px;
            background: black;
        }

        .volume{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: 5px;
            margin: 0;
            padding: 0;
            background-color: transparent;
            background-image: rgba( 0, 0, 0, 0.4 );
            box-shadow: inset 0px 0px 3px #444;

            &::-ms-fill-lower{
                background: #222;
            }
            &::-ms-fill-upper{
                background: #EEE;
            }
        }

        .time{
            width: 100px;
            height: 24px;
            position: absolute;
            right: 35px;
            top: 8px;
            bottom: 0px;
            font-family: "Helvetica Neue", "Segoe UI", arial, sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: white;
            line-height: 30px;
            text-align: right;
        }

        .fullscreenButton{
            width: 24px;
            height: 24px;
            position: absolute;
            right: 5px;
            bottom: 5px;
            cursor: pointer;
        }

        .defaultscreenButton{
            width: 24px;
            height: 24px;
            position: absolute;
            right: 5px;
            bottom: 5px;
            cursor: pointer;
            display: none;
        }

    }

    input[type=range]{
        -webkit-appearance: none;

        &:focus{
            outline: none;
        }

        &::-webkit-slider-runnable-track{
            cursor: pointer;
            transition: all .2s ease;
        }
        &::-webkit-slider-thumb{
            -webkit-appearance: none;
            border: 1px solid transparent;
            height: 5px;
            width: 0px;
            border-radius: 0px;
            background: transparent;
            cursor: pointer;
        }
        &::-moz-range-track{
            cursor: pointer;
            transition: all .2s ease;
            width: 100%;
            height: 8px;
            background: transparent;
        }
        &::-moz-range-thumb{
            height: 5px;
            width: 0px;
            background: transparent;
            cursor: pointer;
            border: 1px solid transparent;
        }
        &::-ms-track{
            cursor: pointer;
            transition: all .2s ease;
            color: transparent;
            width: 100%;
            height: 8px;
            background: transparent;
        }
        &::-ms-thumb{
            height: 5px;
            width: 0px;
            background: transparent;
            cursor: pointer;
        }
    }

}
